**if else condition**

In [ ]:
print ("i am shahwaiz iqbal")
if 5>=6:
  print("shah waiz iqbal")
else:
  print("umair")

i am shahwaiz iqbal
umair

**Arthematic operators**

In [ ]:
x = 5
y = 10
print (x + y )
print( x - y)
print( x * y)
print (x / y)

15
-5
50
0.5

In [ ]:
x = "shah waiz iqbal"
X = 5
z = 4.5

print(x)

shah waiz iqbal

**For Loop**

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

**Global Variable**

In [ ]:
x = 5
y = 4

def calculation():
  print("sum of x and y is ",x+y)
  print("subtraction of x and y is ",x-y)
  print("Multiplication of x and y is ",x*y)
  print("Division of x and y is ",x/y)

**Casting**

In [1]:
x = str("shahwaiz iqbal")
y = int(5)
z = float(6)
print(x)
print(y)
print(z)

shahwaiz iqbal
3
3.0

**check Type**

In [ ]:
x = 6
y = "hello"
print(type(x))
print(type(y))

**One Value to Multiple Variables**

In [ ]:
x = y = z = "Pakistan"
print(x)
print(y)
print(z)

**Dictionary**

In [2]:
dict = {
  "brand": "toyota",
  "model": "corrola",
  "year": 1964,

}
print(dict)

{'brand': 'toyota', 'model': 'corrola', 'year': 2020}

**Duplicates Not Allowed**

In [ ]:
dict = {
  "brand": "toyota",
  "model": "corrola",
  "year": 1964,  #Duplicate values will overwrite present value:
  "year": 2020
}
print(dict)

**Arguments**

In [3]:
def my_function(fname):
  print(fname + " comsian")

my_function("shahwaiz")
my_function("umair")
my_function("saeed")

shahwaiz comsian
umair comsian
saeed comsian